version: 2
updates:
  # For Gradle, update dependencies and plugins
  # Individual PR will be created for major version updates while minor and patch updates are grouped
  - package-ecosystem: "gradle"
    groups:
      minor-and-patch-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "01:00"
      timezone: "Asia/Tokyo"
    ignore:
      - dependency-name: "software.amazon.awssdk:*"
        update-types: [ "version-update:semver-patch" ]

  # For GitHub Actions, update all actions on the default, support and release branches
  - package-ecosystem: "github-actions"
    groups:
      actions on branch master:
        patterns:
          - "*"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "01:00"
      timezone: "Asia/Tokyo"

  - package-ecosystem: "github-actions"
    target-branch: "3"
    groups:
      actions on branch 3:
        patterns:
          - "*"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "01:00"
      timezone: "Asia/Tokyo"

  - package-ecosystem: "github-actions"
    target-branch: "3.17"
    groups:
      actions on branch 3.17:
        patterns:
          - "*"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "01:00"
      timezone: "Asia/Tokyo"

  - package-ecosystem: "github-actions"
    target-branch: "3.16"
    groups:
      actions on branch 3.16:
        patterns:
          - "*"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "01:00"
      timezone: "Asia/Tokyo"

  - package-ecosystem: "github-actions"
    target-branch: "3.15"
    groups:
      actions on branch 3.15:
        patterns:
          - "*"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "01:00"
      timezone: "Asia/Tokyo"

  - package-ecosystem: "github-actions"
    target-branch: "3.14"
    groups:
      actions on branch 3.14:
        patterns:
          - "*"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "01:00"
      timezone: "Asia/Tokyo"
