name: CI with all Java versions and vendors

on:
  workflow_dispatch:

jobs:
  ci:
    name: CI with Java ${{ matrix.java_version }} (${{ matrix.java_vendor }})
    strategy:
      fail-fast: false
      matrix:
        java_version: ['8', '11', '17', '21']
        java_vendor: ['corretto', 'microsoft', 'oracle', 'temurin']
    uses: ./.github/workflows/ci.yaml
    with:
      INT_TEST_JAVA_RUNTIME_VERSION: ${{ matrix.java_version }}
      INT_TEST_JAVA_RUNTIME_VENDOR: ${{ matrix.java_vendor }}
      INTEGRATION_TEST_ONLY: ${{ !(matrix.java_version == '8' && matrix.java_vendor == 'temurin') }}
    secrets: inherit
