name: Test Permissions

on:
  workflow_dispatch:

env:
  TERM: dumb

jobs:
  integration-test-permission-dynamo:
    name: DynamoDB Permission Integration Test
    runs-on: ubuntu-latest
    env:
      DYNAMO_ACCESS_KEY: ${{ secrets.DYNAMO_ACCESS_KEY }}
      DYNAMO_SECRET_ACCESS_KEY: ${{ secrets.DYNAMO_SECRET_ACCESS_KEY }}
      DYNAMO_REGION: ap-northeast-1

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 8 (Temurin)
        uses: actions/setup-java@v5
        with:
          java-version: 8
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup DynamoDB test permissions
        env:
          AWS_ACCESS_KEY_ID: ${{ env.DYNAMO_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ env.DYNAMO_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ env.DYNAMO_REGION }}
        run: bash -x ./ci/dynamo-permission-setup.sh

      - name: Execute Gradle 'integrationTestDynamo' task
        run: >-
          ./gradlew integrationTestDynamo
          --tests DynamoColumnValueIntegrationTest
          -Dscalardb.dynamo.create_options=ru:1000,no-scaling:false,no-backup:false,dynamodb_permission_test_run_id:1
          -Dscalardb.dynamo.emulator_used=false
          -Dscalardb.dynamo.region=${{ env.DYNAMO_REGION }}
          -Dscalardb.dynamo.access_key_id=${{ env.DYNAMO_ACCESS_KEY }}
          -Dscalardb.dynamo.secret_access_key=${{ env.DYNAMO_SECRET_ACCESS_KEY }}

      - name: Upload Gradle test reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: dynamo_integration_test_reports
          path: core/build/reports/tests/integrationTestDynamo
