name: Test Permissions

on:
  workflow_dispatch:

env:
  TERM: dumb
  JAVA_VERSION: '8'
  JAVA_VENDOR: 'temurin'

jobs:
  integration-test-permission-dynamo:
    name: DynamoDB Permission Integration Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK ${{ env.JAVA_VERSION }} (${{ env.JAVA_VENDOR }})
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_VENDOR }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup DynamoDB test permissions
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.DYNAMO_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.DYNAMO_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-northeast-1
        run: bash -x ./ci/dynamo-permission-setup.sh

      - name: Execute Gradle 'integrationTestDynamoPermission' task
        run: ./gradlew integrationTestDynamo --tests DynamoColumnValueIntegrationTest -Dscalardb.dynamo.create_options=ru:1000,no-scaling:false,no-backup:true,dynamodb_permission_test_run_id:1 -Dscalardb.dynamo.emulator_used=false

      - name: Upload Gradle test reports
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: dynamo_permission_integration_test_reports
          path: core/build/reports/tests/integrationTestDynamoPermission
