name: Release

on:
  push:
    tags:
      - "v3.14.0-alpha.1"

permissions:
  id-token: write
  contents: read

jobs:
  upload-artifacts:
    uses: ./.github/workflows/upload-artifacts.yaml
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SIGNING_SECRET_KEY_RING: ${{ secrets.SIGNING_SECRET_KEY_RING }}
      SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
      SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
      OSSRH_USERNAMAE: ${{ secrets.OSSRH_USERNAMAE }}
      OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}

  create-release:
    needs: upload-artifacts
    if: ${{ success() }}
    uses: ./.github/workflows/create-release.yaml
    secrets:
      GH_PROJECT_ACCESS_TOKEN: ${{ secrets.GH_PROJECT_ACCESS_TOKEN }}
