name: Scheduled Vulnerability Check

on:
  schedule:
    # UTC
    - cron: '0 20 * * MON,THU'

env:
  TERM: dumb
jobs:
  call-vuln-check-for-master:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: master
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_11:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.11
      find-latest-release: true
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_12:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.12
      find-latest-release: true
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_13:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.13
      find-latest-release: true
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_14:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.14
      find-latest-release: true
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_15:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.15
      find-latest-release: true
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}
