name: Scheduled Vulnerability Check

on:
  schedule:
    # UTC
    - cron: '0 20 * * MON,THU'

env:
  TERM: dumb
jobs:
  call-vuln-check-for-master:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: master
    secrets:
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_14:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.14
      find-latest-release: true
    secrets:
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_15:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.15
      find-latest-release: true
    secrets:
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_16:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.16
      find-latest-release: true
    secrets:
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}

  call-vuln-check-for-v3_17:
    uses: ./.github/workflows/vuln-check.yaml
    with:
      target-ref: v3.17
      find-latest-release: true
    secrets:
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}
