name: Vulnerability Check

on:
  workflow_call:
    inputs:
      target-ref:
        description: 'Target ref (branch, tag, release) to scan'
        required: true
        type: string
        default: 'main'
      find-latest-release:
        description: 'Flag to find the latest version for specified `target-ref`'
        required: false
        type: boolean
        default: false
    secrets:
      CR_PAT:
        required: true
      SLACK_SECURITY_WEBHOOK_URL:
        required: true

jobs:
  call-vuln-check:
    uses: scalar-labs/actions/.github/workflows/vuln-check-reusable.yaml@main
    with:
      target-ref: ${{ inputs.target-ref }}
      find-latest-release: ${{ inputs.find-latest-release }}
      images: '[["ScalarDB Schema Loader", "scalardb-schema-loader"]]'
      version-command: "./gradlew :core:properties -q | grep version: | awk '{print $2}'"
    secrets:
      CR_PAT: ${{ secrets.CR_PAT }}
      SLACK_SECURITY_WEBHOOK_URL: ${{ secrets.SLACK_SECURITY_WEBHOOK_URL }}
